<md-toolbar layout="row" layout-align="center center" ng-controller="NavbarCtrl">

  <md-button href="https://github.com/Swiip/generator-gulp-angular">Gulp Angular</md-button>

  <section flex layout="row" layout-align="left center">
    <md-button ng-href="#" class="md-raised"><% if (translated) { %><span translate><% } %>Home<% if (translated) { %></span><% } %></md-button>
    <md-button ng-href="#" class="md-raised"><% if (translated) { %><span translate><% } %>About<% if (translated) { %></span><% } %></md-button>
    <md-button ng-href="#" class="md-raised"><% if (translated) { %><span translate><% } %>Contact<% if (translated) { %></span><% } %></md-button>
  </section>

<% if (translated) { %>
  <md-button ng-href="#"><div ng-include="'components/languageSelect/languageSelect.html'"></div></md-button><% } %>
  <md-button ng-href="#"><% if (translated) { %><span translate><% } %>Current date<% if (translated) { %></span><% } %>: {{ date | date:'yyyy-MM-dd' }}</md-button>

</md-toolbar>
